<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Tutorial Rails", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupp">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <% if authenticated? %>
            <li class="nav-item">
              <%= link_to "Sign out", session_path, class: "nav-link", data: { turbo_method: :delete } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>